<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{admin/_layout}">
<head>
    <title>User</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            User
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered"> <!-- id="dataTable" -->
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                    </thead>
                    
                    <!-- 
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                    </tfoot>
                    <tbody class="userDisplay">

                    </tbody> -->
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->



</body>
</html>