<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<footer th:fragment="footer" id="footer">
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div>
						<p>
							<strong>Công ty TNHH thương mại và sản xuất HQ</strong>
						</p>
					</div>
					<div class=" name">
						<p>
							WEBSITE : <a href="http://">http://thietbihq.com</a>
						</p>
						<h6 style="font-weight: bold">Trụ sở chính</h6>
						<p>Địa chỉ: Xóm 4 - Xuân Hồng - Xuân Trường - Nam Định</p>
						<p>Điện thoại : 0915 172 333</p>
						<h6 style="font-weight: bold">Chi nhánh 1</h6>
						<p>Địa chỉ: 66 Tân Mai - Hoàng Mai - Hà Nội</p>
						<p>Điện thoại : 0979 342 589 (Mr Quyền)</p>
						<h6 style="font-weight: bold">Chi nhánh 2</h6>
						<p>Địa chỉ: Cầu 50 - Xuân Thượng - Xuân Trường - Nam Định</p>
						<p>Điện thoại: 0965 990 555 (Mr Hương)</p>
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<p>
							<strong>Kết nối với chúng tôi</strong>
						</p>
					</div>
					<div>
						<span><a href="#"><img alt="Facebook"
								src="images/footer/facebook.jpg" style="height: 30px"></a></span>
					</div>
					<br>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6291.819068041999!2d106.32344511568274!3d20.335916910487306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135e2bfbb6742d9%3A0xf195ee76a1920c6!2zWMOzbSA0LCBIw6BuaCBUaGnhu4duLCBYdcOibiBI4buTbmcsIFh1w6JuIFRyxrDhu51uZywgTmFtIMSQ4buLbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1591809685286!5m2!1svi!2s"
						width="100%" height="200px" frameborder="0" style="border: 0;margin-left:auto;
	margin-right: auto;
	display: block;"
						allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="copyright">Copyright &copy; 2020</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>